<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czhand.zsmq.infra.mapper.SignedReportMapper">
  <resultMap id="BaseResultMap" type="com.czhand.zsmq.domain.SignedReport">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="informer_id" jdbcType="BIGINT" property="informerId" />
    <result column="informer_username" jdbcType="VARCHAR" property="informerUsername" />
    <result column="informer_phone" jdbcType="VARCHAR" property="informerPhone" />
    <result column="against_id" jdbcType="BIGINT" property="againstId" />
    <result column="against_username" jdbcType="VARCHAR" property="againstUsername" />
    <result column="info_id" jdbcType="VARCHAR" property="infoId" />
    <result column="violation_type" jdbcType="VARCHAR" property="violationType" />
    <result column="violation_content" jdbcType="VARCHAR" property="violationContent" />
    <result column="is_resolve" jdbcType="INTEGER" property="isResolve" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
</mapper>