.mimg{
    width: 95%;
    height: 100px;
}
.carousel{
  text-align: center;
  height:400px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}
.div1{
    height:400px;
    width: 98%;
    background-color: aqua;
}
.active{
  height:400px;
  width: 98%;
  background-color: aqua;
}
.aaa{
  height:400px;
  width: 98%;
  background-color: aqua;
}
.messageicon{
  font-size: '30px';
   color: '#08c';
   display: 'none';
}